
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/spaceBetweenRows.css" asp-append-version="true" />

@*Alert if Viewbag.Error is not empty*@
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

<h1>Login</h1>
<br/>

@using (Html.BeginForm("Login", "Connection", FormMethod.Post))
{ 
    <table>
        <tr>
            <td>Enter Username: </td>            
            <td>@Html.TextBox("Username")</td>
        </tr>
        <tr>
            <td>Enter Password: </td>
            <td>@Html.TextBox("Password")</td>
        </tr>
        <tr>
            <td colspan="2"><input class="btn btn-primary" type="submit" value="Login"></td>
        </tr>
    </table>
}
